<html class="" lang="en">
{% autoescape true %}
<head>
    <meta charset="utf-8">
    <title>Alternative SLPost Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
    <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
    <!--script src="js/less-1.3.3.min.js"></script-->
    <!--append ‘#!watch’ to the browser URL, then refresh the page. -->

    <link href="web/css/bootstrap.min.css" rel="stylesheet">
    <link href="web/css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="web/js/html5shiv.js"></script>
  <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="web/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="web/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="web/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="web/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="web/img/favicon.png">

    <script type="text/javascript" src="web/js/jquery.min.js"></script>
    <script type="text/javascript" src="web/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="web/js/scripts.js"></script>
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>SLPost Tracker
                    <small>(Based on the official page)</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <form method="get" role="form" class="form-inline">
                <div class="form-group">
                    <label for="trackingInput">Tracking Number</label>
                    <input id="trackingInput"
                           class="form-control" name="tid"
                           type="text">
                </div>


                <button class="btn btn-default" type="submit">Track Package</button>
            </form>
        </div>
        <div class="col-md-10 column">
            <p class="text-info">I wrote this because I was frustrated with the official page from
                SLPost at <a class="btn-link" href="http://www.slpost.gov.lk/">http://www.slpost.gov.lk</a>.
            </p>
            {% if more_details %}
                <div class="row clearfix">
                    <div id="moreDetails" class="col-md-12 column">
                        {% for detail, detail_info in more_details.items() %}
                            <div class="row clearfix">
                                <div class="col-md-3 column ui-sortable"><span>{{ detail }}</span></div>
                                <div class="col-md-6 column ui-sortable"><span>{{ detail_info }}</span></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row clearfix">
                    <table>
                        <thead>
                        {% for header in event_header %}
                        <td>{{ header }}</td>
                        {% endfor %}
                        </thead>
                    {% for event in events %}
                    <tr>
                        {% for i, column in event.items() %}
                            <td>{{ column }}</td>
                        {% endfor %}
                    </tr>
                    {%  endfor %}
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</div>


</body>
</html>
{% endautoescape %}